# Logs
npm-debug.log*

# Dependency directories
node_modules/

# Development db
meal_planner.sqlite3

# Mac files
.DS_Store

# VSCode
.vscode/

# dotenv environment variables file
.env

# Ignore built ts files
dist/**/*

# Misc.
worksheet.js
